APP_HOME=/opt/stock-analyze
APP_SYMBOL=600519
AKSHARE_PYTHON=/opt/stock-analyze/.venv/bin/python

WECOM_CORP_ID=wwad4729df5fff92cf
WECOM_CORP_SECRET=replace-with-your-secret
WECOM_AGENT_ID=1000002
WECOM_TO_PARTY=1

SERVER_PORT=80
WECOM_CALLBACK_TOKEN=stock-analyze-token
WECOM_CALLBACK_ENCODING_AES_KEY=yDJGijqy+YHErEFLuf5g2e/zIcxu7azZN16kJT3rkds
